.header {
	display: flex;
	justify-content: space-between;
	background-color: #14d3dd;
	color: #7b7b7b;
	padding: 25px 0;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.logo {
	margin-left: 54px;
	font-size: 36px;
	font-weight: bold;
	text-decoration: rebeccapurple;
	color: #fff;
}

.nav-buttons {
	margin-top: 20px;
}

.nav-buttons a {
	background-color: #0005ff;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	margin: 0 10px;
	border-radius: 5px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

.nav-buttons a:hover {
	background-color: #030757;
}